#dark {
    background-color: black;
    color: white;
    transition: 1s;
}

#light {
    background-color: transparent;
    transition: 1s;
}

#dark_title {
    color: white;
}

#light_title {
    color: #232323;
}

#dark_btn {
    color: white;
}

#light_btn {
    color: black;
}